html{
    font-size: 16px;
}
    body{
        font-size: 1rem;
    }

    .container{
        width: auto;
        height: auto;
        padding: 20px;
        border: 1cm solid brown;
        margin: auto;

    }

    .box{
        width: auto;
        height: auto;
        font-size: 12pt;
        border: 2mm dashed lawngreen;
    }